.newsletter {

    background-color: #D6EFFF;
    padding: 40px 0;
    text-align: center;
    margin: 5rem 25rem;
    border-radius: 20px;

}

.h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #DC4517;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {

    /* iPhone portrait width */
    .newsletter {
        padding: 10px 0;
        margin: 5rem 0rem;
    }

    .h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .form {
        max-width: 300px;
    }

    .input {
        width: 60%;
    }
}