.h1 {
    width: 25%;
    text-align: center;
    font-size: 20px;
}

.sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
    background-color: #323232;
    color: white;
    font-family: 'Pokemon Classic', sans-serif;
}

@media only screen and (max-width: 768px) {
    .h1 {
        width: 100%;
        font-size: 27px;
    }

    .sub {
        gap: 5rem;
    }
}